<a href="https://colab.research.google.com/github/ekqlsrla/TextBook/blob/main/Introducing_Python/Chapter6_%EB%B0%98%EB%B3%B5%EB%AC%B8_while%EA%B3%BC_%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **처음 시작하는 파이썬**
---
---

# **Chapter 6 | 반복문 : while과 for문**
---

## 6.1 반복하기 : while

In [1]:
#1부터 5까지 실행

count = 1

while count <= 5 :
  print(count)
  count += 1

1
2
3
4
5

### 1) 중단하기 : break

In [4]:
while True :
  stuff = input('String to capitalize [type q to quit] :')
  if stuff == 'q' :
    break
  print(stuff.capitalize())

String to capitalize [type q to quit] :test
Test
String to capitalize [type q to quit] :hey, it works Hey, it works
Hey, it works hey, it works
String to capitalize [type q to quit] :q

### 2) 건너뛰기 : continue

In [6]:
while True :
  value = input('Integer, please [q to quit] :')
  if value == 'q':
    break
  number = int(value)
  if number % 2 == 0 :
    continue
  print(number, 'squared is', number*number)

Integer, please [q to quit] :1
1 squared is 1
Integer, please [q to quit] :2
Integer, please [q to quit] :4
Integer, please [q to quit] :5
5 squared is 25
Integer, please [q to quit] :q

### 3) break 확인하기 : else

* while 문이 모두 실행되었지만 발견하지 못했을 때는 else 문 실행

In [ ]:
numbers = [1,3,5]

position = 0

while position < len(numbers) :
  number = numbers[position]
  if number % 2 == 0 :
    print('Found even number', number)
    break
  position += 1
  else :
    print('No even number found')

## 6.2 순회하기 : for와 in

In [15]:
#문자열에 있는 문자 출력 (1)

word = 'thud'
offset = 0
while offset < len(word) :
  print(word[offset])
  offset += 1

t
h
u
d

In [16]:
#문자열에 있는 문자 출력 (2)
for letter in word :
  print(letter)

t
h
u
d

### 1) 중단하기 : break

In [17]:
word = 'thud'
for letter in word :
  if letter == 'u' :
    break
  print(letter)

t
h

## 2) break 확인하기 : else

In [20]:
word = 'thxd'
for letter in word :
  if letter == 'x' :
    print("Eek ! An 'x'!")
    break
  print(letter)
else :
    print("No 'x' in there.")

t
h
Eek ! An 'x'!

### 3) 숫자 시퀀스 생성하기 : range()

* `range`는 리스트나 튜플 같은 자료구조를 생성하여 저장하지 않더라도 특정 범위 내에서 숫자 스트림 반환

In [21]:
for x in range(0,3) :
  print(x)

0
1
2

In [22]:
list(range(0,3))

[0, 1, 2]

In [23]:
for x in range(2,-1,-1) :
  print(x)

2
1
0

In [24]:
list(range(2,-1,-1))

[2, 1, 0]

## 연습문제

### 1)
 for문으로 리스트 [3,2,1,0] 출력

In [26]:
for i in [3,2,1,0] :
  print(i)

3
2.1
0

### 2)

In [36]:
guess_me = 7
number = 1
while True :
  if number < guess_me :
    print('too low')
  elif number == guess_me :
    print('found it!')
    break
  elif number > guess_me :
    print('oops')
    break
  number += 1

too low
too low
too low
too low
too low
too low
found it!