<a href="https://colab.research.google.com/github/ekqlsrla/TextBook/blob/main/Introducing_Python/Chapter2_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85%2C%EA%B0%92%2C%EB%B3%80%EC%88%98%2C%EC%9D%B4%EB%A6%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**처음 시작하는 파이썬**
---
---

# **Chapter2. 데이터 : 타입, 값, 변수, 이름**
---

## 2.5 변수

1. 변수 이름 규칙

* 소문자/대문자/숫자/언더바 문자만 사용 가능
* 대소 문자 구분, 숫자가 아닌 문자나 언더바로 시작
* 파이썬 예약어는 사용할 수 없다.
  * `help('keywords')로 예약어를 찾을 수 있음

## 2.7 변수는 장소가 아니라 이름이다

In [3]:
#대화식 인터프리터 예제

a = 7
print(a)

b = a

print(b)

7
7

* 어떤 타입의 변수 또는 리터럴 값을 알고 싶다면 `type()` 메서드를 사용
* 변수가 특정 타입의 객체를 가리키는지 확인하려면 `isinstance()` 내장 함수 사용

In [4]:
type(7)

int

In [5]:
type(7) == int

True

In [6]:
isinstance(7, int)

True