<a href="https://colab.research.google.com/github/ekqlsrla/TextBook/blob/main/Introducing_Python/Chapter3_%EC%88%AB%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **처음 시작하는 파이썬**
---
---

# **Chapter 3 : 숫자**
---

## 3.1 불리언

* 0이 아닌 값은 **True**로 간주
* 0인 값은 **False**로 간주

In [1]:
bool(True)

True

In [2]:
bool(1)

True

In [3]:
bool(False)

False

In [4]:
bool(0)

False

## 3.2 정수

* 정수는 모두 **숫자**로 이루어져 있으며 분수나 소수점이 없다.

### 1) 리터럴 정수

* 대화식 인터프리터에서 연속된 숫자는 **리터럴 정수**로 간주
* 숫자 0을 쓸 수 있지만, 0을 다른 숫자 앞에 넣을 수는 없다
* 정수에 **쉼표(,)**를 사용할 수 없으며 **언더바(_)**를 사용하면 숫자를 구분할 수 있다. 결과를 출력할 떄는 언더바를 무시하고 숫자만 출력

### 2) 정수 연산자

In [ ]:
# 덧셈과 뺼셈의 예 : 숫자나 연산자 사이에 있는 공백은 무시됨

5 + 9

* 나눗셈의 두 가지 방법

1. **/** 는 부동소수점을 포함한 결과 출력
2. **//**는 부동소수점을 제외한 결과, 즉 정수가 출력

In [7]:
9/5

1.8

In [9]:
9//5

1

### 3) 정수와 변수

In [10]:
a = 95
a - 3

92

In [11]:
# a = a + 8

a = 92
a+=8
a

100

In [12]:
# a = a * 2
a = 100
a *= 2
a

200

In [13]:
#소수점을 제외한 몫과 나머지를 동시에 얻는 방법 => 튜플로 반환됨

divmod(9,5)

(1, 4)

### 4) 진수

* 2진수(binary) : 0b or 0B
* 8진수(octal) : 0o or 0O
* 16진수(hex) : 0x or 0X

In [14]:
#2진수 0b10을 10진수로 출력

0b10

2

In [15]:
#10진수에서 다른 진수로 계산
# 계산 결과는 문자열로 반환

value = 65
bin(value)

'0b1000001'

In [16]:
#정수를 단일 문자열로 변환
chr(65)

'A'

In [17]:
#단일 문자열을 정수로 반환
ord('A')

65

### 5) 타입 변환

In [18]:
int(True)

1

In [19]:
bool(1)

True

In [20]:
#소수점을 버리고 정수를 출력
int(98.6)

98

In [21]:
#부동소수점 숫자를 불리언 값으로 변환
bool(1.0)

True

In [22]:
# 지수를 취해서 10진수가 아닌 수를 10진수로 표현
int('10',2) #2진수

2

In [23]:
#소수점이나 지수를 포함한 문자열은 처리하지 않음
int('98.6')

ValueError: ignored

### 6) int의 크기

In [25]:
googol = 10**100
googol * googol

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

## 3.3 부동소수점 숫자

In [26]:
#문자 e와 정수인 지수를 포함할 수 있다
5e0

5.0

In [27]:
#명확성을 위해 언더바를 사용해 숫자 구분
million = 1_000_000.0
million

1000000.0

In [28]:
#불리언 타입도 정수 타입 또는 부동소수점 타입으로 변환
False + 0.

0.0

## 연습문제

### 1.

In [29]:
#1시간은 몇 초인가?
60*60

3600

### 2.

In [32]:
#계산한 결과를 변수에 저장

seconds_per_hour = 60*60

### 3.

In [33]:
#1일은 몇 초인가 ?

seconds_per_hour * 24

86400

### 4.

In [34]:
seconds_per_day = seconds_per_hour * 24

### 5.

In [35]:
seconds_per_day / seconds_per_hour

24.0

### 6.

In [36]:
seconds_per_day // seconds_per_hour

24