# **처음 시작하는 파이썬**
---
---

# Chapter 13 | 날짜와 시간
---

## 13.1 윤년

In [1]:
import calendar

calendar. isleap(1900)

False

In [2]:
calendar.isleap(2004)

True

## 13.2 datetime 모듈

* `date` : 년,월,일
* `time` : 시,분,초,마이크로초
* `datetime` : 날짜, 시간
* *`timedelta` : 날짜 및 시간 간격

In [4]:
from datetime import date

halloween = date(2019,10,31)
halloween

datetime.date(2019, 10, 31)

In [5]:
halloween.isoformat()

'2019-10-31'

In [6]:
#오늘 날짜 출력

from datetime import date
now = date.today()
now

datetime.date(2023, 11, 2)

In [8]:
#날짜에 시간 간격 더하기

from datetime import timedelta
one_day = timedelta(days = 1)
tomorrow = now + one_day
tomorrow

now + 17*one_day

datetime.date(2023, 11, 19)

In [10]:
from datetime import time

noon = time(12,0,0)

noon.hour

12

In [13]:
from datetime import datetime
some_day = datetime(2019,1,2,3,4,5,6)
some_day

datetime.datetime(2019, 1, 2, 3, 4, 5, 6)

In [14]:
some_day.isoformat()

'2019-01-02T03:04:05.000006'

In [15]:
#현재 날짜와 시간 얻기

now = datetime.now()
now

datetime.datetime(2023, 11, 2, 0, 30, 4, 682055)

In [16]:
#date 객체와 time 객체를 datetime 객체로 병합

from datetime import datetime, time, date

noon = time(12)
this_day = date.today()
noon_today = datetime.combine(this_day, noon)
noon_today

datetime.datetime(2023, 11, 2, 12, 0)

## 13.3 time 모듈

In [17]:
import time
now = time.time()

now

1698852843.3659592

In [18]:
#에폭 값을 문자열로 변환

time.ctime(now)

'Thu Nov  2 00:34:03 2023'

In [19]:
import time
now = time.localtime()
now[0]

2023

In [20]:
print(list(now[x] for x in range(9)))

[2023, 11, 2, 0, 34, 55, 3, 306, 0]

In [ ]:
#struct_time 객체를 에폭 초로 변환

tm = time.localtime(now)
time.mktime(tm)

## 13.4 날짜와 시간 읽고 쓰기

In [23]:
import time

now = time.time()
time.ctime(now)

'Thu Nov  2 00:37:09 2023'

In [25]:
fmt = "It's %A,%B %d, %Y, local time %I:%M:%S%p"

t = time.localtime()
t

time.struct_time(tm_year=2023, tm_mon=11, tm_mday=2, tm_hour=0, tm_min=38, tm_sec=0, tm_wday=3, tm_yday=306, tm_isdst=0)

In [27]:
from datetime import date
some_day = date(2019,7,4)
some_day.strftime(fmt)

"It's Thursday,July 04, 2019, local time 12:00:00AM"

In [29]:
#time 객체는 시간 부분만 변환

from datetime import time
some_time = time(10,35)
some_time.strftime(fmt)

"It's Monday,January 01, 1900, local time 10:35:00AM"

* 다른 월,일의 이름을 출력하려면 `setlocale()`을 사용하여 로케일을 바꿔야 함함

In [32]:
import locale
from datetime import date

halloween = date(2019,10,31)
for lang_country in ['en_us','fr_fr','de_de','es_es','is_is',] :
    locale.setlocale(locale.LC_TIME, lang_country)
    halloween.strftime('%A, %B %d')

In [34]:
import locale
names = locale.locale_alias.keys()

good_names = [name for name in names if len(name) ==5 and name[2] == '_']

In [35]:
good_names[:5]

['a3_az', 'aa_dj', 'aa_er', 'aa_et', 'af_za']