<a href="https://colab.research.google.com/github/ekqlsrla/TextBook/blob/main/Introducing_Python/Chapter4_%EC%84%A0%ED%83%9D%ED%95%98%EA%B8%B0_if.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**처음 시작하는 파이썬**
---
---

# **Chapter 4 : 선택하기 if**
---

## 4.2 라인 유지하가 : \

* 코드 한 줄에서 권장하는 최대 문자 수는 80자인데 이 길이 안에 넣고 싶은 코드를 모두 입력할 수 없다면 백슬래시 문자를 입력한 후 다음 줄에 입력한다.
* 표현식 중간에 백슬래시를 생략하면 예외 발생
* 표현식이 쌍을 이루는 괄호의 중간에 있으면 잘 동작

## 4.3 비교하기 : if, elif, else

In [3]:
furry = True
large = True
if furry :
  if large :
    print("It's a yeti.")
  else :
    print("Its's a cat!")
else :
  if large :
    print("It's a whale!")
  else :
    print("It's a human. Or a hairless cat.")

It's a yeti.

* 파이썬의 비교 연산자

|비교연산자|의미|
|---|---|
|==|같다|
|!=|다르다|
|<|보다 작다|
|<=|보다 작거나 같다|
|>|보다 크다|
|>=|보다 크거나 같다|

* 불리언 연산자는 비교 연산자 보다 **우선순위**가 낮다

In [5]:
x = 7
5 < x and x < 10

True

In [6]:
5 < x or x < 10

True

In [7]:
5 < x and x > 10

False

## 4.4 True and False

|불리언|false|
|---|---|
|null|none|
|정수 0|0|
|부동소수점0|0.00|
|빈 문자열|' '|
|빈 리스트|[ ]|
|빈 튜플|( )|
|빈 딕셔너리| { }|
|빈 셋 | set()|

In [8]:
some_list = []
if some_list :
  print("There's something in here")
else :
  print("Hey, it's empty!!")

Hey, it's empty!!

## 4.5 여러 개 비교하기 : in

In [9]:
letter = 'o'
if letter == 'a' or letter == 'e' or letter == 'i' or letter == 'o' or letter == 'u' :
  print(letter, 'is a vowel')
else :
  print(letter, 'is not a vowel')

o is a vowel

In [10]:
#멤버쉽 연산자 in

vowels = 'aeiou'
letter = 'o'
letter in vowels

True

In [11]:
if letter in vowels :
  print(letter, 'is a vowel')

o is a vowel

## 4.6 새로운 기능 : 바다코끼리 연산자

이름 := 표현식

In [12]:
tweet_limit = 280
tweet_string = 'Blah' * 50
diff = tweet_limit - len(tweet_string)
if diff >= 0 :
  print('A fitting tweet')
else :
  print('Went over by', abs(diff))

A fitting tweet

In [14]:
#바다코끼리 연산자
tweet_limit = 280
tweet_string = 'Blah' * 50
if diff := tweet_limit - len(tweet_string) >= 0:
  print('A fitting tweet')
else :
  print('Went over by', abs(diff))

A fitting tweet

## 연습문제

### 1)

In [18]:
secret  = 8
guess = 3
if guess < secret :
  print('too low')
elif guess > secret :
  print('too high')
else :
  print('just right')

too low

### 2)

In [19]:
small = True
green = False

if small :
  if green :
    print('cherry')
  else :
    print('pea')

else :
  if green :
    print('pumpkin')
  else :
    print('watermelon')

pea